# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.pytype/
.ruff_cache/

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Build / Packaging
# =========================
build/
dist/
dist_installer/
*.spec

# =========================
# PyInstaller Artifacts
# =========================
*.pkg
*.dmg
*.exe
*.app

# =========================
# Input Data
# =========================
Data/

# =========================
# Output Data
# =========================
output/
*.csv

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# Logs
# =========================
*.log

# =========================
# Temp Files
# =========================
*.tmp
*.temp
LICENSE-KHOSRAVI-PC-01
