# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ========================
# Virtual Environments
# ========================
.venv/
venv/
env/

# ========================
# PyInstaller
# ========================
*.spec

# ========================
# macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride

# ========================
# Windows
# ========================
Thumbs.db
Desktop.ini

# ========================
# IDEs / Editors
# ========================
.vscode/
.idea/

# ========================
# App Output
# ========================
output/
*.csv

# ========================
# Installers / Packages
# ========================
*.dmg
*.exe
*.msi
